/* ProgressStep.css */

.progress-step {
    display: flex;
  }
  
  .progress-step.horizontal .step {
    /* flex: 1; */
    text-align: center;
    
  }
  
  .progress-step.vertical .step {
   
    text-align: center;
    
  }
  
  .step {
    background-color: #ddd;
    width: 20px;
    height: 20px;
    color: #333;
    padding: 2px;
    border-radius: 50px;
    margin-right: 5px;
  }
  
  .step.active {
    background-color: #24f511;
    color: #fff;
  }
  